*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-size: 12px;
}
.table{
    width: 100%;
}
.table td{
    font-size: 13px;
    color: gray;
}
.page-footer{
    color: white;
    background-color:  #04061B;;
}

